@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url("https://use.typekit.net/cxb0imb.css"); /* For Proxima Nova */

/* EXAMPLE:
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100; 
*/

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin: 0 0 0 100px;
  color: #ffffff;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
  margin-top: 0;
}
.App {
  font-family: 'Poppins', sans-serif;
}

.App-header {
  margin: 50px 100px 50px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(6px + 2vmin);
  /* border: solid red 1px; */
}

.App-header a{
  color: #ffffff;
  margin: 0 0 0 25px;
  text-decoration: none;
}

.home-logo {
  color: #ffffff;
}

.project {
  margin: 50px 0 0 0;
  border: solid red 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  min-width: 300px;
}

.project-title {
  color: #2FE4B9;
}

.project-subtitle {
  color: #ffffff;
}

.project img {
  /* border: solid red 1px; */
}

.selected-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}