@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url("https://use.typekit.net/cxb0imb.css"); /* For Proxima Nova*/

.App {
  text-align: center;
  font-family: 'Proxima Nova', sans-serif;
}

.App-header {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header a{
  color: #4A4A4A;
  margin: 0 25px;
}

.App-link {
  color: #61dafb;
}