@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url("https://use.typekit.net/cxb0imb.css"); /* For Proxima Nova */

/* EXAMPLE:
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 100; 
*/

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  margin: 0 0 0 100px;
  color: #ffffff;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  margin-top: 0;
}
.App {
  font-family: 'Poppins', sans-serif;
  background-color: #10405F;
}

.App-header {
  margin: 50px 100px 50px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(6px + 2vmin);
  /* border: solid red 1px; */
  font-size: 18px;
}

.App-header a{
  color: #ffffff;
  margin: 0 0 0 25px;
  text-decoration: none;
}

.home-logo {
  color: #ffffff;
}

.intro {
  width: 100%;
  display: flex;
  justify-content: center;
}

.intro-message {
  text-align: center;
  margin: 200px;
  font-family: "proxima-nova-condensed";
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
  color: #ffffff;
  /* max-width: 50vw; */
}

.emphasis {
  color: #2FE4B9;
}

.project {
  margin: 50px 0 0 0;
  border: solid red 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex:1;
  max-width:550px;
  min-width: 40rem;
}

.project-image{
  border: solid red 1px;
  background-color: white;
  border-radius: 20px;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  padding-top: 75%;
}

.project-title {
  color: #2FE4B9;
}

.project-subtitle {
  color: #ffffff;
}

.selected-projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: 100px;
  margin-right: 100px;
}

.footer {
  bottom: 0;
  height: 430px;
  background-color: #535353;
}
